@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,600,600i,700,700i,800,800i&display=swap");
@import url("https://use.typekit.net/thy6bhp.css");
@font-face {
  font-family: CircularFont;
  src: url(CircularStd-Bold.otf);
}

html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "Nunito", sans-serif;
}

a:hover {
  color: black;
  text-decoration: none;
}
a {
  color: black;
}

.navigational {
  position: fixed;
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 75px;
  z-index: 2;
}

.navactive {
  color: #009fb4;
}

.spacial {
  margin: auto;
}

.topnavitem {
  font-weight: 250;
  font-size: 18px;
  padding: 24px;
}

.topnavitem a {
  text-decoration: none;
  color: rgb(107, 107, 107);
  font-weight: 700;
  font-size: 20px;
}

.sectiontitle {
  text-align: center;
  padding: 30px;
  color: rgb(184, 184, 184);
  font-weight: 650;
}

.viewport {
}

.box-homework-item {
  text-align: center;
  color: rgb(253, 253, 253);
  font-size: 22px;
  border: solid 1px hsl(137, 96%, 28%);
  background: linear-gradient(
    90deg,
    hsl(138, 97%, 35%) 0%,
    hsl(137, 96%, 28%) 100%
  );
  border-radius: 10px;
  padding: 13px;
  padding-left: 0px;
  padding-right: 0px;
  font-weight: 600;
  text-shadow: -0.5px 1.5px #0561ac5b, 0 1.5px #0561ac44;
  font-style: normal;
}

.box-homework-item:hover {
  border-style: solid;
  border-color: hsl(137, 96%, 28%);
  background: none;
  text-shadow: none;
  color: rgb(0, 144, 55);
}

.box-homework-item:hover .homework-item-sub {
  font-size: 15px;
  color: rgb(3, 46, 65);
}

.homework-item-sub {
  font-size: 15px;
  font-weight: 200;
  color: #ffffff;
  text-shadow: none;
}

.box-homework-info {
  text-align: center;
  color: rgb(65, 65, 65);
  margin-left: 0px;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 500;
}
.homework-info-sub {
  color: rgb(170, 170, 170);
  font-weight: 100;
  font-style: italic;
}

.lightblue {
  color: #ffffff;
  font-weight: 200;
  font-style: italic;
}

.brandimage {
  width: 100px;
  padding-top: 8px;
  margin-left: 25px;
}

.navbarusername {
  margin-right: 25px;
}
.contentbox {
  margin: 20px;
  height: 215px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
.contentbox-img {
  width: 100%;
  padding: 0px;
  position: absolute;
  -webkit-filter: brightness(50%) blur(1px);
  filter: brightness(100%) blur(1px);
  height: 0px;
}
.contentbox-header {
  height: 75px;
  border: solid 1px rgb(6, 154, 218);
  background: rgb(6, 154, 218);
  border-bottom: none;
  border-radius: 15px 15px 0px 0px;
  padding: 25px;
  position: relative;
  color: White;
  box-shadow: 1px 1px 4px 1px rgb(228, 228, 228);
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.contentbox-header-l {
  text-align: left;
  font-size: 19px;
}
.contentbox-header-r {
  text-align: right;
  font-size: 19px;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

.contentbox-footer {
  height: 140px;
  border: solid 1px #d4d4d4;
  border-top: none;
  border-radius: 0px 0px 15px 15px;
  padding: 23px;
  position: relative;
  color: rgb(48, 48, 48);
}
.contentbox:hover .contentbox-header {
  color: rgb(6, 154, 218);
  background-color: White;
  border-bottom: solid 1px rgb(6, 154, 218);
}
.contentbox:hover .contentbox-header-r {
  color: rgb(6, 154, 218);
}
.topbanner {
  height: 170px;
  background: linear-gradient(90deg, rgb(5, 84, 117) 0%, rgb(7, 81, 110) 100%);
  color: rgb(255, 255, 255);
  font-weight: 100;
  font-size: 25px;
}

.topbanner-l {
  padding-top: 105px;
  text-align: center;
  font-size: 28px;
}
.topbanner-r {
  padding-top: 108px;
  text-align: center;
}
.bannerlevel {
  color: rgb(207, 207, 207);
  font-size: 22px;
}

.bannerstat {
  color: rgb(241, 241, 241);
  font-size: 22px;
  font-weight: 500;
}
.bannerstatmp {
  color: rgb(8, 199, 233);
  font-size: 20px;
  font-weight: 600;
}
.bannerstatg {
  color: rgb(255, 217, 0);
  font-size: 20px;
  font-weight: 600;
}

@media screen and (min-width: 1031px) {
  .box-homework-info {
    font-size: 20px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 1030px) {
  .box-homework-info {
    font-size: 15px;
    padding: 0px;
  }
}
