$student-navheader-height: 78px;

.student-navheader {
  position: fixed;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  height: $student-navheader-height;
  z-index: 2;
  padding-left: 26px;
}

.student-navheader-activelink {
  color: #00a8f7;
}

.student-navheader-links {
  font-size: 18px;
  padding: 24px;
  padding-left: 20px;
  padding-right: 20px;
}

.student-navheader-links a {
  text-decoration: none;
  color: rgb(107, 107, 107);
  font-weight: 600;
  font-size: 20px;
}

.ok5-brandimage {
  width: 100px;
  padding-top: 8px;
}

.student-navheader-profile {
  @extend .student-navheader-links;
  margin-right: 25px;
  text-align: right;
  padding-top: 18px;
  line-height: 1.2em;
}

.student-navheader-profile a {
  font-weight: 550;
  font-size: 14px;
  color: rgb(83, 137, 182);
}

.student-navheader-profile div {
  font-weight: 200;
  font-size: 20px;
  color: rgb(121, 121, 121);

}