.student-quiz-arithmeticproblem-info {
  color: rgb(29, 29, 29);
  text-align: center;
}

.student-quiz-arithmeticproblem-problem {
  color: rgb(0, 151, 238);
  text-align: center;
  font-weight: 600;
}

.student-quiz-arithmeticproblem-container {}

.student-quiz-problemcontainer {
  margin-top: 30px;
  border: rgb(212, 212, 212) 1.5px solid;
  border-radius: 18px;
  padding: 30px;

}

.student-quiz-problem-standard {
  text-align: left;
  color: grey;
  font-size: 11px;
}

.student-quiz-problem-id {
  color: rgb(83, 83, 83);
  font-size: 11px;
}

.student-quiz-arithmeticproblem-answer {
  text-align: center;
  margin: 25px;
}

.student-quiz-inputbox {
  border: 2.33px rgb(230, 230, 230) solid;
  padding: 15px;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
}

.student-quiz-understandcontainer {
  margin-top: 30px;
  border: rgb(212, 212, 212) 1.5px solid;
  border-radius: 18px;
  padding: 30px;
}

.student-quiz-understand-title {
  color: rgb(34, 34, 34);
  text-align: center;
}

.student-quiz-understand-subtitle {
  color: rgb(255, 145, 0);
  text-align: center;
}

.student-quiz-padwidget-row {
  text-align: center;
}

.student-quiz-padwidget-key {
  width: 60px;
  height: 60px;
  border: 1px solid rgba(182, 182, 182, 0.644);
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  padding-top: 15px;
  margin: 6px;
  color: rgb(119, 119, 119);
}
