@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,600,600i,700,700i,800,800i&display=swap");
html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

.student-navheader {
  position: fixed;
  width: 100vw;
  background-color: white;
  height: 78px;
  z-index: 2;
  padding-left: 26px;
}

.student-navheader-activelink {
  color: #00a8f7;
}

.student-navheader-links, .student-navheader-profile {
  font-size: 18px;
  padding: 24px;
  padding-left: 20px;
  padding-right: 20px;
}

.student-navheader-links a, .student-navheader-profile a {
  text-decoration: none;
  color: #6b6b6b;
  font-weight: 600;
  font-size: 20px;
}

.ok5-brandimage {
  width: 100px;
  padding-top: 8px;
}

.student-navheader-profile {
  margin-right: 25px;
  text-align: right;
  padding-top: 18px;
  line-height: 1.2em;
}

.student-navheader-profile a {
  font-weight: 550;
  font-size: 14px;
  color: #5389b6;
}

.student-navheader-profile div {
  font-weight: 200;
  font-size: 20px;
  color: #797979;
}

.student-infobanner {
  height: 90px;
  padding: 0px;
  margin: 0px;
  background: #055475;
  color: white;
  font-weight: 100;
  font-size: 25px;
  width: 100vw;
  position: absolute;
  margin-top: 78px;
  overflow: hidden;
}

.student-infobanner img {
  position: absolute;
  height: 100;
  width: 100%;
  min-width: 1000px;
  min-height: 90px;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.student-infobanner-left {
  text-align: center;
  padding-top: 27px;
}

.student-infobanner-left-name {
  color: #ffffff;
  font-size: 27px;
}

.student-infobanner-left-level {
  color: #cfcfcf;
  font-size: 22px;
  font-style: italic;
}

.student-infobanner-right {
  text-align: center;
  padding-top: 28px;
}

.student-infobanner-right-value {
  color: #f1f1f1;
  font-size: 22px;
  font-weight: 500;
}

.student-infobanner-right-stat-mp {
  color: #08c7e9;
  font-size: 20px;
  font-weight: 600;
}

.student-infobanner-right-stat-g {
  color: #ffd900;
  font-size: 20px;
  font-weight: 600;
}

.student-buttonlarge-train {
  text-align: center;
  color: #fdfdfd;
  font-size: 22px;
  border: solid 1px #01982c;
  background: #01a22f;
  border-radius: 15px;
  padding: 13px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: 600;
  text-shadow: -0.5px 1.5px #0561ac5b, 0 1.5px #0561ac44;
  font-style: normal;
}

.student-buttonlarge-train:hover {
  border-style: solid;
  border-color: #01a22f;
  background: none;
  text-shadow: none;
  color: #018426;
}

.student-buttonlarge-train .student-buttonlarge-caption {
  font-size: 15px;
  color: #ffffff;
  text-shadow: none;
  font-weight: 100;
  font-style: italic;
}

.student-buttonlarge-train:hover .student-buttonlarge-caption {
  font-size: 15px;
  color: #017020;
}

.student-linkcontainer-topic {
  margin: 20px;
  height: 215px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.student-linkcontainer-topic .student-linkcontainer-header {
  height: 75px;
  border: solid 1px #00a3e9;
  background: #00a3e9;
  border-bottom: none;
  border-radius: 15px 15px 0px 0px;
  padding: 25px;
  position: relative;
  color: White;
  -webkit-box-shadow: 1px 1px 4px 1px #e4e4e4;
          box-shadow: 1px 1px 4px 1px #e4e4e4;
  font-weight: 600;
  color: white;
}

.student-linkcontainer-topic .student-linkcontainer-header-l {
  text-align: left;
  font-size: 19px;
}

.student-linkcontainer-topic .student-linkcontainer-header-r {
  text-align: right;
  font-size: 19px;
  font-weight: 300;
  color: white;
}

.student-linkcontainer-topic .student-linkcontainer-footer {
  height: 140px;
  border: solid 1px #e0e0e0;
  border-top: none;
  border-radius: 0px 0px 15px 15px;
  padding: 23px;
  position: relative;
  color: #303030;
}

.student-linkcontainer-topic:hover .student-linkcontainer-header {
  color: #00a3e9;
  background-color: White;
  border-bottom: solid 1px #00a3e9;
}

.student-linkcontainer-topic:hover .student-linkcontainer-header-r {
  color: #00a3e9;
}

.student-linkcontainer-topic.student-linkcontainer-img {
  width: 100%;
  padding: 0px;
  position: absolute;
  -webkit-filter: brightness(50%) blur(1px);
  filter: brightness(100%) blur(1px);
  height: 0px;
}

.student-component-divider-title {
  text-align: center;
  padding: 30px;
  color: #b8b8b8;
  font-weight: 650;
}

.student-sidequote {
  text-align: center;
  color: #414141;
  margin-left: 0px;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 500;
}

.student-sidequote-sub {
  color: #aaaaaa;
  font-weight: 100;
  font-style: italic;
}

.viewport {
  position: absolute;
  width: 100vw;
  padding: 0px;
  margin: 0px;
  margin-top: 168px;
}
/*# sourceMappingURL=main.css.map */